@import '../../styles/shared-styles.scss';

.intro-section {
    text-align: center;
    color: black;
    padding: 20px;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.main-header {
  background-color: #E30019;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
  margin-left: 200px;
}

.category {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-weight: bolder;
  transition: background-color 0.3s
}

.category svg {
  margin-right: 5px;
}

.search-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #E30019;
  border-radius: 20px;
  padding: 5px 15px;
  width: 100%;
  max-width: 600px;
  background-color: white;
}

.search-box input[type="text"] {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
  font-size: 14px;
}

.search-box button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.utility-icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.utility-item {
  display: flex;
  align-items: center;
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.btncl {
  margin-left: 60px;
  background-color: #BE1529;
  padding: 5px;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  display: inline-block;
}

.utility-item svg {
  margin-right: 5px;
}
.product-category {
    width: 200px;
    cursor: pointer;
}
.product-category option{
    background-color: $shopapp-color !important;
    cursor: pointer;

}

.search-input {
    width: 300px;
    background-color: $shopapp-background-color;
    margin-right: 10px;
    border-color: rgba(255, 255, 255, 0.5);
    color: black;
}

.form-control {
    background-color: transparent;
    color: black;
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(255, 255, 255, 0.5);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(255, 255, 255, 0.5);
}

.product-item {
    background-color: $shopapp-background-color;
    border: 1px solid rgb(35, 39, 61);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.product-item:hover {
    transform: translateY(-5px); /* Di chuyển lên một số pixel khi hover vào */
}

.product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 8px;

}

.product-name {
    color: black;
}

.product-description {
    color: rgb(173, 178, 203);
}

.product-warranty {
    color: $shopapp-tint-color;
}

.product-price {
    color: black;
}

.product-rating {
    color: #FFD700;
    margin-top: 10px;
}

.product-actions {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.space-x {
    margin: 0 5px;
    /*margin-top, margin-right, margin-bottom, margin-left*/
}

.page-number {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    margin: 0 2px;
    border-radius: 3px;
}

.page-number.active {
    background-color: $shopapp-color !important;
    color: black;
    border-color: $shopapp-color !important;
}
.btn-primary {
    background-color: $shopapp-color;
    border-color: $shopapp-color;
}
.btn.btn-primary {
    margin-left: 10px;
}
swiper-slide img{
    cursor: pointer;
    margin: auto;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
}
