<h1>báo cáo</h1>
<hr>
<br>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="display: flex; flex-direction: row;">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="form-inline">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Tìm kiếm . . . . ." #searchName>
      </div>
      <button type="submit" class="btn btn-primary" style="background: #5b5d8f;"><i class="fa fa-search"></i></button>
    </div>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">

  </div>
</div>
<br>
<div>
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Họ Tên Khách</th>
        <th>Ngày Báo Cáo</th>
        <th>Nội dung bài báo cáo</th>
        <th>Trạng thái</th>
        <th>Phản hồi từ bộ phận quản lý</th>
        <th><i class="ri-settings-5-fill"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let report of Reports">
        <td>{{ report.id }}</td>
        <td>{{ report.customerId }}</td>
        <td>{{ report.reportDate  | date:'shortDate'}}</td>
        <td>{{ report.content }}</td>
        <td>{{ report.status }}</td>
        <td>{{ report.response }}</td>
        <td>
          <a class="btn btn-sm" data-toggle="modal"
          data-target="#editCategoryModal"><i class="ri-edit-2-line"></i></a>
        |
          <a class="btn btn-sm" data-toggle="modal"
          data-target="#confirmDeleteModal" style="padding: 5px; font-size: 15px;">
          <i class="ri-delete-bin-7-line"></i></a>
      </td>
      </tr>
    </tbody>
  </table>
</div>

<nav aria-label="Page navigation">
  <ul class="pagination">
    <li class="page-item" [class.disabled]="currentPage === 1">
      <a class="page-link" (click)="changePage(currentPage - 1)"> &laquo; </a>
    </li>

    <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index"
        [class.active]="i + 1 === currentPage">
      <a class="page-link" (click)="changePage(i + 1)">{{ i + 1 }}</a>
    </li>

    <li class="page-item" [class.disabled]="currentPage === totalPages">
      <a class="page-link" (click)="changePage(currentPage + 1)"> &raquo; </a>
    </li>
  </ul>
</nav>

<ng-template #nocates>
    <p>Không có bài báo cáo nào.</p>
</ng-template>

<div class="modal fade" id="addCategoryModal" tabindex="-1" role="dialog" aria-labelledby="addCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="addCategoryLabel">Thêm báo cáo</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="customerId">Họ Tên Khách</label>
              <input formControlName="customerId" type="text" class="form-control" id="customerId" required readonly>
            </div>
            <div class="form-group">
              <label for="reportDate">Ngày Báo Cáo</label>
              <input formControlName="reportDate" type="text" class="form-control" id="reportDate" placeholder="Ngày Báo Cáo... " required>
            </div>
            <div class="form-group">
              <label for="content">Nội dung bài báo cáo</label>
              <input formControlName="content" type="text" class="form-control" id="content" placeholder="Nội dung bài báo cáo... " required>
            </div>
            <div class="form-group">
              <label for="status">Trạng thái</label>
              <select class="form-control" id="status" formControlName="status" required>
                <option value="">Chọn Trạng thái</option>
                <option value="">Chọn Trạng thái</option>
                <option value="">Chọn Trạng thái</option>
              </select>
            </div>
            <div class="form-group">
              <label for="response">Phản hồi từ bộ phận quản lý</label>
              <input formControlName="response" type="text" class="form-control" id="response" placeholder="Phản hồi từ bộ phận quản lý... " required>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary" style="background: #5b5d8f;">Thêm</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <!-- Modal Sửa Danh Mục -->
<div class="modal fade" id="editCategoryModal" tabindex="-1" role="dialog" aria-labelledby="editCategoryLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="editCategoryLabel">Sửa báo cáo</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="customerId">Họ Tên Khách</label>
                <input formControlName="customerId" type="text" class="form-control" id="customerId" placeholder="Họ Tên Khách... " required readonly>
              </div>
              <div class="form-group">
                <label for="reportDate">Ngày Báo Cáo</label>
                <input formControlName="reportDate" type="text" class="form-control" id="reportDate" placeholder="Ngày Báo Cáo... " required>
              </div>
              <div class="form-group">
                <label for="content">Nội dung bài báo cáo</label>
                <input formControlName="content" type="text" class="form-control" id="content" placeholder="Nội dung bài báo cáo... " required>
              </div>
              <div class="form-group">
                <label for="status">Trạng thái</label>
                <select class="form-control" id="status" formControlName="status" required>
                  <option value="">Chọn Trạng thái</option>
                  <option value="">Chọn Trạng thái</option>
                  <option value="">Chọn Trạng thái</option>
                </select>
              </div>
              <div class="form-group">
                <label for="response">Phản hồi từ bộ phận quản lý</label>
                <input formControlName="response" type="text" class="form-control" id="response" placeholder="Phản hồi từ bộ phận quản lý... " required>
              </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                  <button type="submit" class="btn btn-primary" style="background: #5b5d8f;">Lưu</button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" role="dialog"
      aria-labelledby="confirmDeleteLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h2 class="modal-title" id="confirmDeleteLabel">Xác nhận xóa</h2>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              <div class="modal-body">
                <h5>Bạn có chắc chắn muốn xóa báo cáo này không?</h5>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                  <button type="button" class="btn btn-danger" data-dismiss="modal" >Xóa</button>
              </div>
          </div>
      </div>
  </div>
